.rover-photos {
  padding-top: 100px;

  #loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
  }
  
  .logo {
    justify-content: center;
    display: flex;
    flex-direction: row;
    max-width: 40%;
    padding-bottom: 20px;
  }
  
  .progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 20px;
    width: 40%;
  }
  
  .progress-value {
    animation: load 1s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgba(150,191,70,0.6);
    height: 10px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }

  &-container {
    width: 90vw;
    margin-left: 70px;

    .rover-photos-col {
      width: 15%;
      padding: 0 10px;

      .rover-photo {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: left;
        border-radius: 10px;
        width: 100%;

        .button-container {
          display: flex;
          justify-content: right;

          button {
            border-radius: 50%;
            background-color: transparent;
            box-shadow: none;
            border: none;
          }

          .star {
            color: #96BF46;
            font-size: 30px;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .rover-image {
          border-radius: 20px;

          &:hover {
            cursor: zoom-in;
          }
        }

        .rover-description {
          display: flex;
          flex-direction: column;
          align-items: left;
          padding: 0 0 20px 10px;

          .details {
            font-weight: 700;
          }

          .date {
            padding-top: 10px;
          }

          .source {
            color: gray;
            font-size: 12px;
          }
        }
      }
    }

    @media screen and (max-width: 1920px) {
    margin-left: 45px;

    .rover-photos-col {
      width: 18%;
    }
  }

    @media screen and (max-width: 1350px) {
      margin-left: 50px;

      .rover-photos-col {
        width: 30%;
      }
    }

    @media screen and (max-width: 600px) {
      margin-left: 0;

      .rover-photos-col {
        width: 100%;
      }
    }
  }

  .show-more-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    .show-more {
      display: flex;
      align-items: flex-end;
      background-color: transparent;
      color: #FFF;
      box-shadow: none;
      border: none;
      font-size: 14px;
      font-weight: 700;
      color: #96BF46;

      &:hover {
        cursor: pointer;
      }

      .arrow {
        color: #96BF46;
        font-weight: 700;
        font-size: 30px;
      }
    }
  }
}