.rover-photos {
  padding-top: 100px;

  #loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
  }
  
  .logo {
    justify-content: center;
    display: flex;
    flex-direction: row;
    max-width: 40%;
    padding-bottom: 20px;
  }
  
  .progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 20px;
    width: 40%;
  }
  
  .progress-value {
    animation: load 1s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgba(150,191,70,0.6);
    height: 10px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .rover-photos-col {
      flex: 25%;
      max-width: 20%;
      padding: 0 10px 0 10px;

      .rover-photo {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: left;
        border-radius: 10px;
        width: 100%;

        .button-container {
          display: flex;
          justify-content: right;

          button {
            border-radius: 50%;
            background-color: transparent;
            box-shadow: none;
            border: none;
          }

          .star {
            color: #96BF46;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .rover-image {
          border-radius: 20px;
        }

        .rover-description {
          display: flex;
          flex-direction: column;
          align-items: left;
          padding: 0 0 20px 10px;

          .details {
            font-weight: 700;
          }

          .date {
            padding-top: 10px;
          }

          .source {
            color: gray;
            font-size: 12px;
          }
        }
      }
    }

    @media screen and (max-width: 900px) {
      .rover-photos-col {
        flex: 50%;
        max-width: 40%;
      }
    }

    @media screen and (max-width: 600px) {
      .rover-photos-col {
        flex: 100%;
        max-width: 100%;
      }
    }
  }
}