/* global styles*/

* {
    color: #FFF;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(#000, #1A3A53);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    justify-content: center;
}
